To recap, our service exposes a stream that gives us a list of jokes. The underlying HTTP request is periodically triggered every 10 seconds to update the cache. To improve the user experience, we show a notification so that the user has to enforce an update of the UI. On top of that, we have implemented a way for the user to request new data on demand.
<mat-toolbar color="primary">
  <mat-toolbar-row class="flex">
    <span style="flex-grow: 1;">World of Jokes</span>
    <button mat-icon-button>
      <mat-icon aria-label="Login">menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row class="cta-row" *ngIf="isRoot | async">
    <button class="back-button" mat-button routerLink="/day_26_rxjs_multicast">
      <mat-icon aria-label="Login">keyboard_arrow_left</mat-icon>
      Back to Dashboard
    </button>
  </mat-toolbar-row>

</mat-toolbar>

<router-outlet></router-outlet>